button{
	border-radius: 6px;	
	border: none;
	padding: 8px 0;
	width: 76px;
}
button:nth-child(1){
	background-color:lightgreen;
}
button:nth-child(2){
	background-color:pink;
}
h3{
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	display: table;
	background: url(images/clock.png) no-repeat 0 3px;
	background-size: 40px;
	height: 46px;
	line-height: 46px;
	margin: 0;
	margin-bottom: 4px;
	padding-left: 52px;
}
#buttons{
	float:left;
	clear:left;
}
#controls{
	padding:10px;
	display: table;
	background-color: rgb(255, 201, 0);
	border-radius: 8px;
	box-shadow: 0 -12px 20px orange inset;
}
#intrvl{
	border-radius: 4px;
	color: darkblue;
	font-size: 1.0em;
	padding: 2px 6px;
	text-align: center;
	width: 32px;
}
#range{
	float:left;
	margin: 7px 10px 7px auto;
	width: 202px;
}
#rest-bar{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 26px;
    width: 34%;
    background-color: aliceblue;
    overflow: hidden;
}
#rest-bar >div{
    background-color: lightskyblue;
    box-shadow: 0 -8px 16px rgba(0,0,0,0.15) inset;
    display: inline-block;
}
#rest_box{
    box-sizing: border-box;
    display: table;
    padding: 10px;
    padding-right: 0;
    width: 100%;
}
#rest_box >div{
    box-sizing: border-box;
    display: table-cell;
    line-height: 26px;
}
#rnd{
    display: table;
}
#stats{
	padding:10px;
	background-color: aliceblue;
	float: left;
	clear: left;
	margin-top: 8px;
}
#time_less,
#time_more{
    cursor: default;
    opacity: 0.4;
    padding: 2px 3px;
}
#time_less:hover,
#time_more:hover{
    opacity: 1;
}
#tmrest{
    padding-left: 4px;
    padding-right: 8px;
    white-space: nowrap;
}
